doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if isAuthorized
      form(method="post" action="/logout" class="d-flex flex-row-reverse")
          button(type="submit" class="btn btn-secondary") Выйти
    block content
