body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.signout {
  display: block;
  margin-left: auto;
}

.form {
  display: block;
  min-width: 600px;
  max-width: max-content;
  margin: 0 auto;
}

.formActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 30px;
}

.formActions > *:not(:last-child) {
  margin-right: 10px;
}
